#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  margin-top: 60px;
  text-align: center;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  .router-link-active {
    color: red;
  }
}
