.container {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: $fontSize-m;
  margin-top: 10px;
  text-align: center;
  color: $primaryColor;
  background-color: $primaryBgColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  padding: 10px 20px;
  text-align: left;
}
