.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: $theme-bgcolor;
  color: $text-primary-color;
  font-size: $font-size-m;
}

.hero {
  text-align: center;
}
