.new-window {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;

  .close {
    position: absolute;
    cursor: pointer;
  }

  > div {
    flex: auto;
    padding: 40px;
  }
}
